/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    scroll-behavior: smooth;
};

/* Добавьте этот стиль в ваш CSS */
p + p {
    margin-top: 1em;  /* Добавляем отступ между абзацами */
}


/* Fullscreen Modal */
.fullscreen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.5s ease;
}

/* Modal Content */
.modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fullscreenImage {
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.3s ease;
}

/* Close Button */
.close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Image Hover Effect */
#fullscreenImage:hover {
    transform: scale(1.05);
}


/* Стиль для модального окна */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000; /* Убедитесь, что модальное окно на переднем плане */
    overflow: auto; /* Запрещает переполнение контента */
}

.modal-content {
    margin: auto;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 600px;
    z-index: 1001; /* Убедитесь, что содержимое модального окна выше фона */
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.hidden {
    display: none;
}
