<footer class="footer-bg text-gray-500 bg-gray-300 py-10 mt-auto fade-in fade-in-delay-2 sticky top-0">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-4">
            <h2 class="text-xl font-bold">Ethiopian Evangelical Church Bonn</h2>
        </div>
        <div class="flex gap-5 justify-center mb-4">
            <a target="_blank" href="https://www.facebook.com/people/Ethiopian-evangelical-Church-in-BonnGermany/61570843404858/" class="social-icon">
                <i class="text-2xl fab fa-facebook-f hover:text-gray-800"></i>
            </a>
            <a target="_blank" href="https://wa.me/491727510678" class="social-icon">
                <i class="text-2xl fab fa-whatsapp hover:text-gray-800"></i>
            </a>
            <a target="_blank" href="https://www.youtube.com/@ethiopianevangelicalchurchbonn" class="social-icon">
                <i class="text-2xl fab fa-youtube hover:text-gray-800"></i>
            </a>
        </div>
        <div class="text-center">
            <p class="font-light">&copy; 2025 Ethiopian Evangelical Church Bonn. <br> All rights reserved.</p>
        </div>
    </div>
</footer>
