<footer class="footer-bg bg-gray-300 py-10 mt-auto fade-in fade-in-delay-2">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-4">
            <h2 class="text-xl font-bold">Ethiopian Evangelical Church Bonn</h2>
        </div>
        <div class="flex gap-5  justify-center mb-4">
            <a href="https://www.facebook.com/groups/Bonn.Meker.church" class="social-icon">
                <i class="text-2xl fab fa-facebook-f"></i>
            </a>
            <a href="https://wa.me/491727510678" class="social-icon">
                <i class="text-2xl fab fa-whatsapp"></i>
            </a>
            <a href="" class="https://www.youtube.com/@ethiopianevangelicalchurchbonn">
                <i class="text-2xl fab fa-youtube"></i>
            </a>
        </div>
        <div class="text-center">
            <p class="font-light">&copy; 2024 Ethiopian Evangelical Church Bonn. <br> All rights reserved.</p>
        </div>
    </div>
</footer>